@model Bootcamp

<div class="d-flex flex-column align-items-center border-bottom py-3">
    <p class="fs-6 fw-bold">Course ID: <span class="fw-normal">@Model.Id</span></p>
    <p class="fs-6 fw-bold">Course name: <span class="fw-normal">@Model.Name</span></p>
    <p class="fs-6 fw-bold">Course description: <span class="fw-normal">@Model.Desc</span></p>
</div>