@using SecondAspProject.Models
@model BootcampInfo

<div>
    <h1>@ViewData["Greetings"]</h1>
    <p>To apply please press the button</p>
    <a href="bootcamp/apply">Apply to @Model.Location bootcamp</a>
</div>