<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="~/Bootcamp">BootcampApp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a asp-controller="Bootcamp" asp-action="Index" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Bootcamp" asp-action="About" asp-route-id="1" class="nav-link">About</a>
            </li>
        </ul>
    </div>
</nav>